<div id="content">
    <div class="container-fluid">
        <div id="leftcard">
            <div id="closecard">
                <img src="{{ url_for('flowy.static', filename='img/closeleft.svg') }}">
            </div>

            <div class="float-right mr-3">
                <button id="run" type="button" class="btn btn-success">
                    Run
                </button>
            </div>

            <div class="float-right mr-1">
                <button id="save" type="button" data-toggle="modal" data-target="#flow-modal" class="btn btn-primary">
                    Save
                </button>
            </div>
            <div class="float-right mr-1">
                <button id="load" type="button" data-toggle="modal" data-target="#flow-modal" class="btn btn-primary">
                    Load
                </button>
            </div>
            <div class="float-right mr-1">
                <button id="delete" type="button" data-toggle="modal" data-target="#flow-modal" class="btn btn-danger">
                    Delete
                </button>
            </div>

            <p id="header">Blocks</p>
            
            <div id="search">
                <img src="{{ url_for('flowy.static', filename='img/search.svg') }}">
                <input type="text" placeholder="Search blocks">
            </div>

            <div id="subnav">
                <div id="triggers" class="navactive side">Triggers</div>
                <div id="actions" class="navdisabled side">Actions</div>
                <div id="flow_control" class="navdisabled side">Control Flow</div>
            </div>
            
            <div id="blocklist">
                {% for name, rpc in rpcs.items() %}
                    <div class="blockelem create-flowy noselect">
                        <input 
                            type="hidden" 
                            name='blockelemtype' 
                            class="blockelemtype" 
                            value="{{loop.index}}" 
                            data-rpc-internal-name="{{name}}"
                            data-rpc-name="{{rpc.display_name}}"
                            data-rpc-params='{{rpc.params | tojson}}'
                        >
                        <div class="grabme">
                            <img src="{{ url_for('flowy.static', filename='img/grabme.svg') }}">
                        </div>
                        <div class="blockin">
                            <div class="blockico">
                                <span></span>
                                <img src="{{ url_for('flowy.static', filename='img/action.svg') }}">
                            </div>
                            <div class="blocktext">
                                <p class="blocktitle">{{rpc.display_name}}</p>
                                <p class="blockdesc">{{name}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div id="propwrap">
            <div id="properties">
                <div id="close">
                    <img src="{{ url_for('flowy.static', filename='img/close.svg') }}">
                </div>
                <p id="header2">Properties</p>
                <div id="propswitch">
                    <div id="dataprop">Input</div>
                    <div id="alertprop">Output</div>
                </div>
                <div id="proplist">
                    <!-- RPC function argument fields is generated here -->
                </div>
                <div id="divisionthing"></div>
                <div id="removeblock">Delete blocks</div>
            </div>
        </div>

        <div id="canvas">
        </div>
      
         <!-- Workflow save modal -->
        <div class="modal fade" id="flow-modal" tabindex="-1" aria-labelledby="flow-modal-label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="flow-modal-label">Save Workflow</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="flow-save-part-buttons">
                        <div class="form-group">
                            <label for="flow-save-name">Name</label>
                            <input type="text" class="form-control" id="flow-save-name">
                            <select style="display:none" class="form-control" id="flow-name">
                            </select>
                        </div>
                        <button type="button" class="btn btn-primary" id="flow-save-button">Save</button>
                        <button style="display:none" type="button" class="btn btn-danger" id="flow-delete-button">Delete</button>
                        <button style="display:none" type="button" class="btn btn-primary" id="flow-load-button">Load</button>
                        </div>
                        <div id="flow-save-part-processing" style="display: none;">
                        <div class="d-flex align-items-center">
                            <strong>Processing...</strong>
                            <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>