{# vendor library #}
<script src="{{ url_for('flows.static', filename='vendor/Drawflow/dist/drawflow.min.js') }}"></script>

{# nodes helpers #}
<script src="{{ url_for('flows.static', filename='js/flows/flow_properties_components/VariablesInput.js') }}"></script>

{# flow nodes #}
<script src="{{ url_for('flows.static', filename='js/flows/flow_window/flow_nodes/GenericNodeComponent.js') }}"></script>
<script src="{{ url_for('flows.static', filename='js/flows/flow_window/flow_nodes/StartNodeComponent.js') }}"></script>
<script src="{{ url_for('flows.static', filename='js/flows/flow_window/flow_nodes/EmbeddingSearchNode.js') }}"></script>

{# nodes list items #}
<script src="{{ url_for('flows.static', filename='js/flows/flow_window/FlowNodesContainer.js') }}"></script>

{# main flow window component #}
<script src="{{ url_for('flows.static', filename='js/flows/flow_window/DrawFlowStuff.js') }}"></script>
<script src="{{ url_for('flows.static', filename='js/flows/DebugWindow.js') }}"></script>
<script src="{{ url_for('flows.static', filename='js/flows/flow_window/FlowWindow.js') }}"></script>

{# left window scripts #}
<script src="{{ url_for('flows.static', filename='js/flows/LeftWindow.js') }}"></script>

{# main (middle) container scripts #}
<script src="{{ url_for('flows.static', filename='js/flows/MainContainer.js') }}"></script>
