{#<script src="{{ url_for('flows.static', filename='vendor/flowy/flowy.min.js') }}"></script>#}
{#<script src="{{ url_for('flows.static', filename='vendor/flowy/engine/flowy.js') }}"></script>#}
{#<script src="{{ url_for('flows.static', filename='js/flows/FlowlyStuff.js') }}"></script>#}

<script src="{{ url_for('flows.static', filename='vendor/Drawflow/dist/drawflow.min.js') }}"></script>
{#<script src="https://cdn.jsdelivr.net/gh/jerosoler/Drawflow/dist/drawflow.min.js"></script>#}

<script src="{{ url_for('flows.static', filename='js/flows/FlowNodes.js') }}"></script>
<script src="{{ url_for('flows.static', filename='js/flows/FlowNodesContainer.js') }}"></script>
<script src="{{ url_for('flows.static', filename='js/flows/DrawFlowStuff.js') }}"></script>
<script src="{{ url_for('flows.static', filename='js/flows/DebugWindow.js') }}"></script>
<script src="{{ url_for('flows.static', filename='js/flows/FlowWindow.js') }}"></script>

<script src="{{ url_for('flows.static', filename='js/flows/LeftWindow.js') }}"></script>

<script src="{{ url_for('flows.static', filename='js/flows/MainContainer.js') }}"></script>
