<style>
    .tmp-helper {
        position: absolute;
        top: -10px;
    }

    .side-window {
        max-width: 300px;
        min-width: 300px;
    }

    #container-window {
        min-height: calc(100% - 60px - 32px)
    }
</style>
{#<link rel="stylesheet" href="{{ url_for('flows.static', filename='vendor/flowy/flowy.min.css') }}">#}
{#<link rel="stylesheet" href="{{ url_for('flows.static', filename='vendor/flowy/engine/flowy.css') }}">#}
{#<link rel="stylesheet" href="{{ url_for('flows.static', filename='vendor/flowy/demo/styles.css') }}">#}

<link rel="stylesheet" href="{{ url_for('flows.static', filename='vendor/Drawflow/dist/drawflow.min.css') }}">
<link rel="stylesheet" href="{{ url_for('flows.static', filename='css/drawflow_theme.css') }}">
<link rel="stylesheet" href="{{ url_for('flows.static', filename='css/flows_custom.css') }}">

{#<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jerosoler/Drawflow/dist/drawflow.min.css">#}